body { /*공통*/
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebb9b9;
    overflow: hidden; 
}

/*-----------------------------------------*/
#whale-container { 
    position: relative; 
    display: flex;
    align-items: center;
}

#hair-zone { /*수염 배치용 이미지*/
    position: absolute; /*얘가 중심*/
    top: 61%; 
    left: 7%;
    width: 150px; 
    height: 80px;
    z-index: 1; 
    pointer-events: none; 
}

#whale-img { /*고래 이미지*/
    width: 400px;
    height: auto;
    display: block;
    position: relative; 
    z-index: 3; 
}
/*-----------------------------------------*/

#controls {
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; 
}

button { /*버튼 전체*/
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #3498db;
    background-color: white;
    color: #3498db;
    border-radius: 5px;
    width: 150px;
    transition: 0.2s;
}

button:hover { /*마우스를 올리면 버튼 색이 바뀜!*/
    background-color: #3498db;
    color: white;
}

/*-----------------------------------------*/

.whisker { /*수염*/
    width: 2px;
    height: 15px;
    background-color: #000000;
    position: absolute;
    border-radius: 2px;
    pointer-events: none;
    z-index: 2; 
}